Please enter your email address to reset your password.<br /><br />

<%= simple_form_for @password_reset do |f| %>
  <%= f.full_error :user %>
  <div class="field">
    <%= f.input :identifier, :label => "Enter your Email Address" %>
  </div>
  <div class="actions"><%= submit_tag "Reset Password" %></div>
<% end %>